@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@font-face {
    font-family: "MuseoSans500";
    src: url("/static/fonts/MuseoSans_500-webfont.woff") format('woff');
}

body {
    font-family: 'Nanum Gothic', 'Trebuchet MS', 'Verdana', 'Tahoma', 'Arial';
    font-size: 13px;
}

body > div.bs-docs-section.clearfix > div > div {
    font-family: MuseoSans500;
}

body > div.bs-docs-section.clearfix > div > div > div > div > div.navbar-header > a {
    font-family: MuseoSans500;
    font-size: 32px;
}

body > div:nth-child(2) > h4 {
    font-family: MuseoSans500;
}
#tables {
    font-family: MuseoSans500;
}

.footer
{
  position: relative;
  height: 25px;
  clear: both;
  padding-top: 2px;
  color: #fff;
  text-align: center;
  background-color: #666;
}

.container hr {
    margin: 2px 0;
    }

.person.name {
    font-weight: bold;
}